* {
    margin: 0;
    padding: 0;
    font-family: "Audiowide", sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

/* Flexing body since only two elements present */
body {
    background-image: url("../images/stock.webp");
    /* Different browser support */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 6em;
    overflow: auto;
}

form {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 10px;
    margin: 0 auto;
}

form button {
    padding: 10px;
    text-align: center;
    background: #14d770;
    border: 2px solid orange;
}

button:hover {
    opacity: 0.8;
}

button:active {
    background: greenyellow;
    color: cadetblue;
}

form label {
    color: black;
}

#stock {
    padding: 10px;
    border: 2px solid orange;
    border-radius: 3px;
    font-weight: bolder;
    font-size: 16px;
    color: #497203;
}

.price-text {
    display: inline-block;
    translate: 0;
    margin: 0 auto;
    padding: 1em;
    border-radius: 6px;
}

/* Used when Fetch fails */
.error {
    background: rgba(255, 0, 0, 0.8);
    background-color: rgba(255, 0, 0, 0.8);
}

footer {
    color: whitesmoke;
    background: rgba(87, 94, 87, 0.6);
    padding: 6px;
    border-radius: 12px;
}

#display_result {
    display: inline-block;
    position: relative;
    overflow: hidden;
    background: linear-gradient(90deg, #ffffff, rgb(107, 243, 161), rgba(24, 248, 144, 0.42));
    background-size: 85%;
    animation: animate 5s linear infinite;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
}

@keyframes animate {
    0% {
        background-position: -500%;
    }

    100% {
        background-position: 500%;
    }

}

#stock_price {
    display: inline;
    color: greenyellow;
    font-size: 16px;
}

#stock_name {
    display: inline;
    font-size: 16px;
    color: #7dbd03;
}